{% extends 'layout.html.twig' %}

{% block main %}
    <div>Bienvenue sur le site !</div>

    {# liste des idées de choses à faire avant de mourir en boucle #}
{% endblock %}

{% block title %}{{ parent() }} | À faire avant de mourir{% endblock %}