{% extends 'layout.html.twig' %}

{% block main %}
    <h1>One idea title todo !</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur earum eligendi illo incidunt iure libero magni minus nam natus obcaecati odit quasi qui quis ratione, repellendus rerum suscipit voluptates.</p>

    {# @todo : afficher toutes les infos sur cette idée #}
{% endblock %}

{% block title %}About us | {{ parent() }}{% endblock %}